* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'system-ui';
    text-align: center;
    height: 100vh;
}

body {
    height: 50vh;
    h1 {
        padding-top: 150px;
        padding-bottom: 10px;
    }
    h3 {
        padding-top: 10px;
    }
}

